			.navigation1 {
				margin-left: 90%;
			}

			.navigation2 {
				margin-left: 40%;
				margin-top:10%;
				font-family:arial rounded mt bold;
				font-size:500%;
			}

			#search{
				border-style:groove;
				border-radius: 4px;
				margin-left: 50px;
			}

			p:hover {text-decoration:underline;}
